extends layoutAOdash
block content
    .container-fluid
            .row
    .column
      .col-md-8
        .card
          .card-body
            h1 CONTACT NUMBERS
            p
              i.fa.fa-phone
              | 0783309486
            p
              i.fa.fa-phone
              | 0756673530
            p
              i.fa.fa-fax
              | 0414044356