doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='css/contact.css')
  title Contact Page

nav.navbar.navbar-expand-sm.bg-.navbar-secondary.justify-content-center(style='background-color:brown')
  a.navbar-brand
    img(src='images/ufarm_logo.png', alt='logo', width='100px', height='100px')
  ul.navbar-nav
    li.nav-item.active
      a.nav-link(href='/about') About
    li.nav-item
      a.nav-link(href='/contact') Contact
    li.nav-item
      a.nav-link(href='/') Sign in
    li.nav-item
      a.nav-link(href='#') Produce
    li.nav-item
      a.nav-link(href='/home') Home
.container-fluid
  .row
    .column
      .col-md-8
        .card
          .card-body
            h1 CONTACT NUMBERS
            p
              i.fa.fa-phone
              | 0783309486
            p
              i.fa.fa-phone
              | 0756673530
            p
              i.fa.fa-fax
              | 0414044356
    .column
      .col-md-8
        .card
          .card-body
            h1 SOCIAL MEDIA
            p
              i.fa.fa-twitter-square(aria-hidden='true')
              | @ufarm
            p
              i.fa.fa-facebook-square(aria-hidden='true')
              | Ufarm
            p
              i.fa.fa-instagram
              | Ufarm
    .column
      .col-md-8
        .card
          .card-body
            h1 EMAIL
            p
              i.fa.fa-envelope
              |  ufarm@gmail.com
            p
              i.fa.fa-envelope
              |  ufarm@yahoo.com
