doctype 
html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='')
  title Farmer produce

nav.navbar.navbar-expand-sm.bg-.navbar-secondary.justify-content-center(style='background-color:brown')
  a.navbar-brand
    img(src='images/ufarm_logo.png', alt='logo', width='100px', height='100px')
  ul.navbar-nav
    li.nav-item.active
      a.nav-link(href='/about') About
    li.nav-item
      a.nav-link(href='/contact') Contact
    li.nav-item
      a.nav-link(href='/login') Sign in
    li.nav-item
      a.nav-link(href='/farmerproduce') Produce
    li.nav-item
      a.nav-link(href='/home') Home
body
    .container-fluid
    if items.length
    each item in items
      .row
        .column
          .col-md-2
            .card
            .card-body
             p #{item.pname}
              img(src='/uploads/'+ item.upload height='50px' width='50px')  
             p #{item.price}
             p #{item.quantity}