DOCTYPE html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    title 
  body
header.card-header
        h4.card-title Welcome p Here is your information
        form(method="post" enctype="multipart/form-data"  action="/updateproduct?id="+item._id)
            table.table
                thead.thead-dark
                    tr
                            th Product Name
                            td 
                                input.form-control(type='file' name ="upload")
                                img(src='/uploads/'+ item.upload height='50px' width='50px')                 
                    tr
                        th Product Name
                        td 
                            input.form-control(value = item.pname name ="pname")
                    
                   
                   
                    tr
                        th Price
                        td 
                            input.form-control(value = item.price name ="price")
                    tr
                        th Quantity
                        td 
                            input.form-control(value = item.quantity name ="quantity")

                    

                        td(colspan="2")
                            button.btn.btn-dark.btn-block(type="submit") Update
