  body{
      background-image:url('/images/photo-1568702846914-96b305d2aaeb.jpg');
  }

  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:brown;
    overflow-x: hidden;
    padding-top: 20px;
  }

  img {
    margin-left: 40px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: navajowhite;
    font-size: 15px;
    color:yellowgreen;
    display: block;
  }
 
  .main {
    margin-left: 250px;
    font-size: 18px;
    padding: 50px;
    margin-top: 50px;
  }

  /* .card{
    background-color: transparent;
  }
   */