body{
    background-image:url('/images/fruit-wooden-background-summer-spring-organic-fruits-over-wood-41535550.jpg')
}


.container-fluid{
    padding: 10px ;
    }

.card{
    margin-left: 350px;
    width: 500px;
    background-color: transparent;
}

